# Build outputs
bin/
dist/
frontend/dist/
frontend/node_modules/
*.exe
*.test
*.out

# Local environment files
.env
.env.*

# Editor and OS files
.DS_Store
.idea/
.vscode/

# Etcd file
k8s/secret.yaml
